{%- assign portfolio = site.data.portfolio -%}

<section class="projects" id="projects">
      <h2 class="projects-title">Some of my Recent Projects</h2>
      <div class="projects-container">
        <div class="project-container project-card">
          <h3 class="project-title">Soccer Game</h3>
          <p class="project-details">
            This is a short game with increasing difficulty. The enemy balls travel to your goal, 
            can you stop them before they enter?
          </p>
          <a href="https://mesmoraz.github.io/Soccer-game-build/" target="_blank" class="project-link">Check it Out</a>
        </div>
            <div>
            <h3 class="project-title">Hivemind</h3>
            <p class="project-details">
                  This is a personal project started by a gamejam endeavor! I had students as internship opportunities make art assets for the game.
            </p>
            <a href="https://mesmoraz.github.io/Hivemind/" target="_blank" class="project-link">Check it Out</a>
            </div>
        </section>
