{%- assign portfolio = site.data.portfolio -%}

<section class="projects" id="projects">
      <h2 class="projects-title"2D Projects</h2>
      <div class="projects-container">
        <div class="project-container project-card">
          <h3 class="project-title">Soccer Game</h3>
          <p class="project-details">
            This is a short game with increasing difficulty. The enemy balls travel to your goal, 
            can you stop them before they enter?
          </p>
          <a href="https://mesmoraz.github.io/Soccer-game-build/" target="_blank" class="project-link">Check it Out</a>
        </div>
            <div>
            <h3 class="project-title">Hivemind</h3>
            <p class="project-details">
                  This is a personal project started by a gamejam endeavor! I had students as internship opportunities make art assets for the game.
            </p>
            <a href="https://mesmoraz.github.io/Hivemind/" target="_blank" class="project-link">Check it Out</a>
            </div>
            <div>
            <h3 class="project-title">WayPoint AI</h3>
            <p class="project-details">
                  Demostration of AI script for 3D objects to move to waypoints given various quaternion and rotation values.
            </p>
            <a href="https://mesmoraz.github.io/WaypointAI/" target="_blank" class="project-link">Check it Out</a>
            </div>
            <h2 class ="projects-title"3D Projects</h2>
            <div class="projects-container">
               <div class="project-container project-card">
                   <h3 class="project-title">Don't Turn It Off</h3>
                     <p class="project-details">
                           Prototype for a menu screen for a horror game. Unity / C# / Blender
                     </p>
                     <a href="https://mesmoraz.github.io/DontTurnItOff/" target="_blank" class="project-link"<Check it Out<a/>
            </div>
        </section>
